@model VuVanQuyet789.Models.VVQ0789

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>VVQ0789</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VVQId" class="control-label"></label>
                <input asp-for="VVQId" class="form-control" />
                <span asp-validation-for="VVQId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VVQName" class="control-label"></label>
                <input asp-for="VVQName" class="form-control" />
                <span asp-validation-for="VVQName" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VVQGender" /> @Html.DisplayNameFor(model => model.VVQGender)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
